In [7]:
import pandas as pd
import yaml

with open('/home/mle-user/mle_projects/mle-project-sprint-1-v001/part2_dvc/params.yaml', 'r') as fd:
    params = yaml.safe_load(fd)
data = pd.read_csv('/home/mle-user/mle_projects/mle-project-sprint-1-v001/part2_dvc/data/initial_data.csv')

cat_features = data.select_dtypes(include='bool')
potential_binary_features = cat_features.nunique() == 2

binary_cat_features = cat_features[potential_binary_features[potential_binary_features].index]

        is_apartment  has_elevator
0              False          True
1              False          True
2              False          True
3              False          True
4              False          True
...              ...           ...
103488         False          True
103489         False          True
103490         False          True
103491         False          True
103492         False          True

[103493 rows x 2 columns]

In [11]:
data['studio'].value_counts()

studio
False    103493
Name: count, dtype: int64

In [ ]:

# Прочитайте файл с гиперпараметрами params.yaml
with open('/home/mle-user/mle_projects/mle-dvc/params.yaml', 'r') as fd:
    params = yaml.safe_load(fd)
# загрузите результат предыдущего шага: inital_data.csv
data = pd.read_csv('/home/mle-user/mle_projects/mle-dvc/data/initial_data.csv')
# реализуйте основную логику шага с использованием гиперпараметров
cat_features = data.select_dtypes(include='object')
potential_binary_features = cat_features.nunique() == 2

binary_cat_features = cat_features[potential_binary_features[potential_binary_features].index]

binary_cat_features